.banner1{
    height: 600px;
    background-color: #2E90E5;
}

.banner-title{
    font-size: 50px;
    color: white;
}

.banner-des{
    text-align: left;
    font-size: 30px;
    color: white;
}

.banner-link{
    color: white;
    font-size: 25px;
}

.banner2{
    text-align: left;
    margin-left: 10%;
    padding-top: 7%;
}

.banner-img{
    height: 643px;
    width: 589px ;
    margin-left: 38%;
    margin-top: -32.7%;
}

.banner33{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    width: 1050px;
    margin-left: 13%;
}

.mini-div1{
    width: 330px;
    margin: 2%;
    text-align: center;
}

.mini-title{
    font-size: 27px;
    font-weight: bold;
}

@media screen and (max-width:480px){
    .banner1{
        width: 100%;
        height: fit-content;
        background-color: #2E90E5;
    }
    
    .banner-title{
        font-size: 62px;
        color: white;
    }
    
    .banner-des{
        text-align: left;
        font-size: 24px;
        color: white;
    }
    
    .banner-link{
        color: white;
        font-size: 13px;
    }
    .banner-img{
        height: 427px;
        width: 70%;
        margin-left: 30%;
        margin-top: -31.9%;
    }
    .banner33{
        display: block;
        justify-content: space-around;
        margin-top: 2%;
        width: 95%;
        margin-left: 2.5%;
    }

    .banner2 {
        text-align: left;
        margin-left: 5%;
        padding-top: 5%;
    }

    .child1 {
        border: 3px #F6F7F8 solid;
        height: 349px;
        width: 57%;
        margin: 30px;
        border-radius: 4px;
    }

    .main-div1-image {
        width: 80%;
    }

    .main-div1-title {
        width: 90%;
        margin-left: 5%;
    }

    .mini-div1 {
        width: 98%;
        margin: 2%;
        text-align: center;
        margin-bottom: 2%;
    }

    hr{
        width: 100%;
    }
    
}
