.div1{
    display: flex;
    justify-content: space-around;
    height: 40px;
    align-items: center;
}

.p1{
    display: flex;
}

.p2{
    display: flex;
    align-items: center;
}

.lang{
    height: 25px;
    margin-top: 5px;
    margin-right: 15px;
    border: 0px;
}

.mon{
    height: 25px;
    margin-top: 5px;
    margin-right: 15px;
    width: 35px;
    border: 0px;
}

.div2{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
}

.shop-name{
    color: #FF4252;
    font-size: 32px;
    font-weight: bold;
}

.navp1{
    font-size: 15px;
    margin-right: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.navcart{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

.navsearch{
    font-size: 15px;
    margin-left: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.showMoreBtn{
    background-color: white;
    border: 0px;
    font-size: 30px;
    margin-left: 15%;
    display: none;
}

.nav__menu-item{
    display: inline-block;
    position: relative;
}

.nav__submenu {
    display: none;
    position: absolute;
    width: 200px;
    text-align: left;
    left: -120%;
    background-color: white;
}

.submenudiv{
    display: flex;
    background-color: white;
}
.nav__menu-item:hover .nav__submenu {
      display: block;
  }


@media screen and (max-width:480px){
    .div1{
        width: 480px;
    }
    .showMoreBtn{
        background-color: white;
        border: 0px;
        font-size: 30px;
        margin-left: 50%;
        display: inline;
        opacity: 0.6;
    }
    .div2{
        display: none;
    }
}
