.div1{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}

.showMoreDiv{
    margin-top: 2%;
}

.timedoutdiv{
    display: none;
    font-size: 18px;
    background-color: #33A0FF;
    margin: 0%;
    padding: 0%;
    color: white;
    height: 30px;
}

.timedoutdiv p{
    margin: 0%;
}

.p1{
    display: flex;
}

.p2{
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 9%;
    right: 2%;
}

.lang{
    height: 25px;
    margin-top: 5px;
    margin-right: 15px;
    border: 0px;
}

.mon{
    height: 25px;
    margin-top: 5px;
    margin-right: 15px;
    width: 35px;
    border: 0px;
}

.div2{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
}

.shop-name{
    color: #FF4252;
    font-size: 32px;
    font-weight: bold;
}

.navp1{
    font-size: 15px;
    margin-right: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.navcart{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
}

.navsearch{
    font-size: 15px;
    margin-left: 20px;
    font-weight: 500;
    text-transform: capitalize;
}

.showMoreBtn{
    background-color: white;
    border: 0px;
    font-size: 30px;
    margin-left: 15%;
    display: none;
}

.nav__menu-item{
    display: inline-block;
    position: relative;
}

.nav__submenu {
    display: none;
    position: absolute;
    width: 200px;
    text-align: left;
    left: -120%;
    background-color: white;
}

.submenudiv{
    display: flex;
    background-color: white;
}
.nav__menu-item:hover .nav__submenu {
      display: block;
  }

.extarp{
    margin: 0%;
}


@media screen and (max-width:480px){
    *{
        margin: 0%;
    }

    body{
        margin: 0%;
    }

    .div1{
        width: 100%;
    }

    .showMoreDiv{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .showMoreDiv img{
        width: 30%;
        margin: 2%;
    }
    .showMoreBtn{
        background-color: white;
        border: 0px;
        font-size: 30px;
        margin-left: 0%;
        display: inline;
        opacity: 0.6;
        padding: 0%;
    }
    .div2{
        display: none;
    }
    hr{
        width: 100%;
    }
}

@media screen and (min-width:480px) and (max-width:768px){
    .div2 {
        display: flex;
        justify-content: space-around;
        width: 80%;
        margin-left: 10%;
    }
}
